.colaborador {
    width: 280px;
}

.colaborador .cabecalho {
    background-color:  #F0F0F0;
    border-radius: 10px 10px 0px 0px;
}
.colaborador img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.colaborador .rodape {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
}

.colaborador .rodape h4 {
    color: #6278F7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.colaborador .rodape h5 {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0 16px;
    margin-bottom: 24px;
}

.colaborador .rodape button {
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #212121;
    padding: 12px;
    transition: background-color 200ms ease;
}

.colaborador .rodape button:hover {
    background-color: #d9d9d9;
}

.favoritar {
    border: 1px solid #212121;
    border-radius: 6px;
    cursor: pointer;
    font-size: 10px;
    margin: 0 auto;
    margin-top: 24px;
    padding: 8px;
    width: fit-content;
}

.favoritado {
    background-color: #d93636;
    border-color: #d93636;
    color: #fff;
    text-transform: uppercase;
}