.footer {
    align-items: center;
    background-color: #6278F7;
    display: flex;
    justify-content: space-between;
    padding: 40px 120px;
}

.footer-social {
    display: flex;
    gap: 24px;
    list-style: none;
}

.footer-social-item img {
    height: 20px;
}

.footer-title {
    height: 40px;
}

.footer-text {
    color: #fff;
    font-weight: 400;
}