.card {
    --card-padding: 30px;

    align-items: center;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    list-style: none;
    position: relative;
    transition: top 200ms;
    width: max-content;
    top: 0;
}

.card:hover {
    box-shadow: 0px 6px 4px 1px #00000040;
    top: -10px;
}

.card-img {
    border-radius: 20px 20px 0 0;
    background-color: var(--bg-escuro);
    height: 40px;
    width: calc(100% - (var(--card-padding) * 2));
    padding: var(--card-padding);
}

.card-img img {
    border-radius: 50%;
    height: 100px;
    position: absolute;
    top: 40px;
    left: calc(50% - (100px / 2));
}

.card-info {
    border-radius: 0 0 20px 20px;
    background-color: white;
    padding: var(--card-padding);
    padding-top: 60px;
}

.card-info-name, .card-info-role {
    margin: 0;
    padding: 0;
}