.time {
    --bg-claro: #d9f7e9;
    --bg-escuro: #57c278;

    background-color: var(--bg-claro);
    padding: 32px;
    text-align: center;
}

.time h3 {
    font-size: 32px;
    position: relative;
    margin-bottom: 44px;
}

.time h3::after {
    --width: 50px;

    position: absolute;
    background-color: var(--bg-escuro);
    content: '';
    width: var(--width);
    height: 4px;
    bottom: -20px;
    left: calc((100% - var(--width)) / 2);
}